/*remove defaul margin and add backgound colour*/
body{
    margin: 0px;
    background-color: silver;
}
/*add pading and align text*/
h1{
    padding: 25px;
    padding-top: 50px;
    text-align: center;
}
h2{
    width: max-content;
}
/*making the nav bar stick to top and remove marnin and padding*/            
nav{
    background-color: grey;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
}
nav a{
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color:rgb(77, 77, 77);
}

/*assigning some fonts*/            
p{
    font-family: Arial, Helvetica, sans-serif;
}
/*making sure images don't take up more space then they should*/
img{
    width: 100%;
}
/*aligning the recipes and folders side by side 3 at a time*/
.folder, .recipeMin{
    border-radius: 25px;
    width: 30.33%;
    padding: 1%;
    margin: 0.5%;
    float: left;
    background-color: grey;
    text-align: center;
    color: black;
}

.folder:hover, .recipeMin:hover{
    box-shadow: 0 0 5px;
}

.recipe{
    border-radius: 25px;
    padding: 5%;
    margin: 10%;
    background-color: grey;
}

/* If the device's screen width is lower than 800px (tablet) it does the following*/

@media screen and (max-width: 800px){
    /*makes the 2 things show side by side instead of 3*/
    .folder, .recipeMin{
    width: 47%;
    }

}
/*If the device's screen width is lower than 500px (phone) it does the following */
@media screen and (max-width: 500px){
    /*displays one by one*/
    .folder, .recipeMin{
        width: 100%;
    }

}

