/*remove defaul margin and add backgound colour*/
body{
    margin: 0px;
    background-color: silver;
}
/*add pading and align text*/
header{
    background-color: rgb(200, 200, 200);
    padding: 25px;
    text-align: center;
}
/*making the nav bar stick to top and remove marnin and padding*/            
nav{
    background-color: gray;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0px;
}
/*assigning some fonts*/            
p{
    font-family: Arial, Helvetica, sans-serif;
}
/*making sure images don't take up more space then they should*/
img{
    width: 100%;
}
/*aligning the recipes and folders side by side 3 at a time*/
.folder .recipeMin{
    width: 30%;
    padding: 1.5%;
    float: left;
}

.recipe{
    padding: 5%;
    background-color: gray;
}

/* If the device's screen width is lower than 800px (tablet) it does the following*/

@media screen and (max-width: 800px){
    /*makes the 2 things show side by side instead of 3*/
    .folder .recipeMin{
    width: 48%;
    padding: 1%;
    }

}
/*If the device's screen width is lower than 500px (phone) it does the following */
@media screen and (max-width: 500px){
    /*displays one by one*/
    .folder .recipeMin{
        width: 100%;
    }

}

