/*body and section(id main) styles*/
body{
    margin: 0px;
    background-color: darkgrey;
}
#main{
    background-color: silver;
    border-radius: 25px;
    margin: 0 20%;
    padding: 5%;
}
/*header styles*/
h1{
    padding: 25px;
    padding-top: 50px;
    text-align: center;
}
h2{
    width: max-content;
}
/*nav styles*/            
nav{
    background-color: grey;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
}
nav a{
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color:rgb(77, 77, 77);
}
#mainNav{
    width: 50%;
}
/*assigning some fonts*/            
p{
    font-family: Arial, Helvetica, sans-serif;
}
/*aligning the minimized recipes and folders side by side*/
.folder, .recipeMin{
    border-radius: 25px;
    width: 30.33%;
    padding: 1%;
    margin: 0.5%;
    float: left;
    background-color: grey;
    text-align: center;
    color: black;
    cursor: pointer;
}
.folder:hover, .recipeMin:hover{
    box-shadow: 0 0 5px;
}
/*estended recipe styles*/
.recipe{
    border-radius: 25px;
    padding: 5%;
    margin: 10%;
    background-color: grey;
    clear: both;
}
.btn{
    width: 20%;
    padding: 1%;
    margin: 1%;
}
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
/*media querie for tablet*/
@media screen and (max-width: 800px){
    .folder, .recipeMin{
    width: 47%;
    }
    #main{
        background-color: silver;
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }
    #mainNav{
        width: 100%;
    }
}
/*media querie for phone*/
@media screen and (max-width: 500px){
    .folder, .recipeMin{
        width: 100%;
    }
    #main{
        background-color: silver;
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }
    #mainNav{
        width: 100%;
    }
}